<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EcoCardio.WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EcoCardioConnection"
         connectionString="data source=.\SQLEXPRESS2016;initial catalog=EcoCardio;persist security info=True;user id=ecocardio;password=ecocardio;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <EcoCardio.WinApp.Properties.Settings>
      <setting name="DataBaseServer" serializeAs="String">
        <value>.\SQLEXPRESS2016</value>
      </setting>
      <setting name="DataBaseName" serializeAs="String">
        <value>EcoCardio</value>
      </setting>
      <setting name="DataBaseUser" serializeAs="String">
        <value>ecocardio</value>
      </setting>
      <setting name="DataBasePassword" serializeAs="String">
        <value>ecocardio</value>
      </setting>
    </EcoCardio.WinApp.Properties.Settings>
  </userSettings>
</configuration>
